<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Product</title>
        <link rel="stylesheet" href="/static/styles/edit.css">
        <style></style>
    </head>

    <body>
        <a class="link" href="/">Home</a>
        <a class="link" href="/admin-panel">Back</a>
        <p class="paragraph">Edit Product:</p>
        <form class="form" action="" enctype="multipart/form-data" method="POST">
            <label class="form__label" for="product__name">Product Name:</label>
            <input class="form__input" value="<%= product.name %>" required type="text" name="product_name" id="product__name" />

            <label class="form__label" for="product__price">Product Price:</label>
            <input class="form__input" value="<%= product.price%>" required type="number" name="product_price" id="product__price" />

            <label class="form__label" for="product__image">Product Image:</label>
            <input class="form__input" type="file" name="product_image" id="product__image" />

            <label class="form__label" for="product__size">Product Size:</label>
            <input class="form__input" value="<%= product.size%>" required type="number" name="product_size" id="product__size" />

            <label class="form__label label__checkbox" for="product__visible">Is visible:</label>
            <input class="form__checkbox" <% if (product.is_visible) {%> checked<%}%> type="checkbox" name="product_visible" id="product__visible" />

            <input class="form__submit" type="submit" name="save_changes" value="Save Changes" />
            <input class="form__submit" type="submit" name="delete" value="Delete Product" />
        </form>
    </body>
</html>
