@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}
.paragraph {
    font-size: 3rem;
}
.link {
    font-size: 3rem;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
}

.form__label {
    font-size: 3rem;    
    text-align: center;

}
.form__input {
    font-size: 3rem;
}
.label__checkbox {
    text-align: center;
}
.form__submit {
    font-size: 3rem;
    padding: 0.5rem;
}